In [1]:
import pandas as pd
from multiprocessing import Pool
from multiprocessing import cpu_count
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [2]:
df = pd.read_hdf('./training_data/Sedgerly_5th.h5')

In [3]:
df.head()

        DBZH  KDP     RHOHV  WRADH   ZDR
0 -19.110001  0.0  0.280007   2.98 -0.25
1 -14.920000  0.0  0.123753   2.68  2.45
2  27.559999  0.0  0.926359   0.13 -0.86
3  41.709999  0.0  0.898953   0.19  0.10
4  35.250000  0.0  0.966186   0.52  3.32

In [ ]:
sns.jointplot(x=df.DBZH, y=df.RHOHV, kind='kde')